ul {
	list-style-type: none;
}

li {
	display: inline-block;
	background-color: lightgrey;
	text-align: center;
	padding-right: 40px;
	padding-left: 40px;
}

:hover {
	color: red;
}

li:hover {
	background-color: lightblue;
}

a:active {
	padding-right: 45px;
	padding-left: 45px;	
}